.container {
    border: 2px solid #ffffff;
    border-radius: 50%;
    height: 10rem;
    position: relative;
    width: 10rem;
}

.spinElement {
    border: 2px solid transparent;
    border-radius: 50%;
    border-right: 2px solid #F6C700;
    height: 10rem;
    position: absolute;
    top: -2px;
    right: -2px;
    width: 10rem;
}

.spinning {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
